# --- Systèmes d'exploitation ---
Thumbs.db
Desktop.ini
.DS_Store

# --- Environnements Node.js / JavaScript ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# --- Éditeurs de code (VS Code / Notepad++) ---
.vscode/
.idea/
*.suo
*.ntbk
*.bak

# --- Logs et fichiers temporaires ---
*.log
logs/
/tmp/

# --- Fichiers de configuration sensibles (Clés, DB locales) ---
.env
.env.local